@model MyMoviesApp.Models.Movie
@{
    ViewData["Movies"] = "Add Movie";
}

<h1>Add Movie</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-input" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Genre" class="form-label"></label>
        <input asp-for="Genre" class="form-input" />
    </div>

    <div class="mb-3">
        <label asp-for="ReleaseYear" class="form-label"></label>
        <input asp-for="ReleaseYear" class="form-input" />
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-input" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
